:root {
  --white-color: #ffffff;
  --green-color: #385c32;
  --yellow-color: #d7a243;
  --red-color: #c96348;
  --padding: 40px;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Noto Kufi Arabic", sans-serif;
  direction: rtl;
  overflow-x: hidden;
}
body {
  background-image: url(../images/background.png);
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 600px) {
  body {
    background-size: auto; /* Adjust as needed for mobile */
  }
}

header {
  background-color: #ffffff;
  z-index: 11;
  padding-top: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}
.navbar {
  --bs-bg-opacity: 0;
}
header nav .nav-link {
  color: var(--green-color);
  font-size: 24px;
  font-weight: 600;
  margin-left: 10px;
  border-radius: 12px;
  margin-bottom: 10px;
  text-align: center;
}
header nav .nav-link:hover,
header nav .nav-link:focus {
  color: var(--green-color);
}
.navbar button:focus {
  box-shadow: none;
}
.navbar-nav {
  padding-right: 18px;
}
nav .dropdown-item,
nav .dropdown-item:hover,
nav .dropdown-item:focus {
  color: var(--green-color);
}
/* start home page  */
.home {
  /* background-image: url(../images/background.png); */
  min-height: 75vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  position: relative;
}
.home .image-box img {
  width: auto;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .home .image-box img {
    width: 352px;
  }
}
.loader {
  display: none;
}
.loader img {
  position: absolute;
  top: 9px;
  left: 15px;
  width: 130px;
}

@media (max-width: 991px) {
  .loader {
    display: block;
  }
  header .navbar img {
    display: none;
  }
}
.home .content .text-box {
  bottom: 20%;
  left: 5%;
  position: absolute;
}
@media (max-width: 767px) {
  .home .content .text-box {
    top: 40%;
    left: 21%;
  }
}
.home .content .text-box h1 {
  font-weight: 700;
  text-shadow: 0px 0px 10px var(--green-color);
  text-shadow: 0px 0px 20px var(--green-color);
  text-shadow: 0px 0px 40px var(--green-color);
  text-shadow: 0px 0px 80px var(--green-color);
  color: var(--green-color);
}
body .wats-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 111;
}
/* end home page  */

/* start about us  */
.main-title {
  font-weight: 700;
  color: black;
  font-size: 40px;
}
.about-us {
  padding-top: var(--padding);
}
.about-us h3,
.about-us h1 {
  color: var(--green-color);
}

.about-us .row {
  text-align: -webkit-center;
}
.about-us .text {
  font-size: 24px;
  line-height: 1.6;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
  color: var(--green-color);
}
.about-us .box p {
  max-width: 350px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--green-color);

}
.about-us .box .text-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 83%;
}
.about-us .box h3,
.about-us .box .goals-icon h3 {
  font-size: 40px;
}
.about-us .box {
  background-color: #ffffffa1;
  max-width: 400px;
  height: max-content;
  height: 270px;
  margin-bottom: 20px;
  padding: 15px;
  width: auto;
  border-radius: 20px 50px;
  transition: 0.5s;
  border: 2px solid var(--yellow-color);
}

@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
.about-us h3 {
  font-size: 35px;
}

.story{
  padding-block: var(--padding);
  color: var(--green-color);
}

.story .box p{
  font-size: 16px;
  line-height: 1.8;
}
.story img{
  max-height: 400px;
  border-radius: 15px;
}
.goals{
  color: var(--green-color);
}
.goals .box {
  background-color: #ffffffa1;
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 10px;
  min-height: 150px;
  border: 2px solid var(--yellow-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end about us  */

/* start services */

.services {
  padding-block: var(--padding);
  color: var(--green-color);
}
.services h2 {
  color: var(--green-color);
  padding-bottom: 60px;
}
.services .service-image img {
  width: -webkit-fill-available;
  height: 550px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;
}
.services .box {
  background-color: #ffffffa1;
  border-radius: 12px;
  padding-bottom: 20px;
  margin-bottom: 55px;
  width: fit-content;
}
.services .text-box {
  padding-inline: 15px;
}
.services .text-box p {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
}

/* end services */

/* start features  */

.features {
  padding-bottom: var(--padding);
  transition: 0.5s;
}
.features h1 {
  color: var(--green-color);
}
.features .box {
  background-color: #ffffffa1;
  height: 320px;
  width: auto;
  margin-bottom: 20px;
  padding: 15px;
  width: auto;
  border-radius: 20px 50px;
  transition: 0.5s;
  border: 2px solid var(--yellow-color);
  text-align: center;
}
.features .image-holder img {
  object-fit: contain;
  object-position: center;
  width: 500px;
}
@media (max-width: 767px) {
  .features .image-holder img {
    width: -webkit-fill-available;
  }
}
.features .box .icon {
  margin-bottom: 15px;
  padding-top: 10px;
}
.features .box h3 {
  padding-block: 10px;
  font-size: 20px;
  color: #385c32;
  line-height: 1.8;
}

.features .swiper-slide img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .features .image-holder img,
  .features .swiper-slide img {
    width: 100%;
  }
}
#icon {
  color: var(--red-color);
  --swiper-theme-color: var(--red-color);
}
/* end features  */

footer {
  padding-top: var(--padding);
  padding-bottom: 30px;
  background-color: var(--white-color);
  color: var(--green-color);
  box-shadow: rgba(0, 0, 0, 0.3) -6px 3px 6px;
}
footer a {
  color: var(--green-color);
}
@media(max-width:992px){
  footer ul li{
    margin-left: 0;
  }
}
/* start packages */

.packages {
  padding-bottom: var(--padding);
  color: var(--green-color);
}
.main-title {
  color: var(--green-color);
}
.packages h1 {
  color: var(--green-color);
  margin-block: 30px;
}

.packages img {
  width: 500px;
  height: 800px;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.packages .box {
  position: relative;
  width: fit-content;
  width: max-content;
  margin-bottom: 80px;
}

.packages .text-box {
  position: absolute;
  z-index: 12;
  top: 18%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  .packages .text-box {
    width: max-content;
  }
  .packages img {
    width: 340px;
  }
  .packages {
    transform: scale(0.8);
  }
}
.packages .text-box .head {
  color: var(--white-color);
  font-size: 24px;
  background-color: var(--yellow-color);
  padding: 10px;
  border-top-left-radius: 20px;
  margin-bottom: 0;
  border-top-right-radius: 20px;
}
.packages .text-box .head span {
  font-size: 40px;
  font-weight: 600;
}
.packages .text-box .inner-box {
  color: var(--green-color);
  background-color: var(--white-color);
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 20px;
}
.packages .box .inner-box .price li::before {
  content: "SR";
  color: var(--green-color);
  font-size: 10px;
  padding-right: 5px;
}
.packages .box .info-box {
  position: absolute;
  bottom: 0;
  left: 40%;
  transform: translateX(-50%);
}
.packages .box .info-box li {
  color: var(--green-color);
  background-color: var(--white-color);
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}
.packages .box .info-box li::after {
  content: attr(data);
  color: var(--white-color);
  background-color: var(--green-color);
  position: absolute;
  right: -33%;
  top: 0;
  padding-right: 10px;
  padding-left: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
  width: 100px;
  text-align: center;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .packages .box .info-box li::after {
    right: -46%;
  }
  .packages .box .text-box:last-child {
    transform: scale(0.7);
    left: -17%;
  }
}
.packages .box .inner-box span {
  font-size: 10px;
}
#yellow {
  background-color: var(--yellow-color);
}
#red {
  background-color: #c96348;
}
#green {
  background-color: var(--green-color);
}
.ltr {
  direction: ltr;
}
.tabs{
  margin-top: 20px;
  margin-bottom: 30px;

}

.tab {
  display: none;
}

/* Style for tab content */
.tab-content {
  display: none;
}

/* Style for active tab */
.active {
  display: flex;

}
.active-button {
  background-color: var(--red-color); /* Green color or any color of your choice */
  color: white;
  border-radius: 13px;
  margin-bottom: 5px;
  font-size: 14px;
  border: none;
}
.tabs .butt{
  border: none;
  background-color: #385c32;
  color: var(--white-color);
  border-radius: 13px;
  margin-bottom: 5px;
  font-size: 14px;
}

/* end packages */

/* start menu  */

.menu {
  padding-block: var(--padding);
  color: var(--green-color);
}
.menu .box {
  background-color: #ffffffa1;
  width: 100%;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
 
}
.menu .image-box {
  max-width: 100%;
  overflow: hidden;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.menu .image-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  min-height: 160px;
}
.menu .text-box {
  padding: 1.5rem; /* Adjust padding as needed */
 
}
.menu .text-box p {
  font-size: 14px;
  min-height: 42px;
}
.menu h6 {
  font-size: 1.2rem; /* Adjust font size as needed */
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu ul li {
  font-size: 1rem; /* Adjust font size as needed */
}

/* Media Queries for responsiveness */
@media (min-width: 576px) {
  .menu .text-box {
    padding: 2rem; /* Adjust padding as needed */
  }

  .menu h6 {
    font-size: 1.5rem; /* Adjust font size as needed */
  }

  .menu ul li {
    font-size: 1.2rem; /* Adjust font size as needed */
  }
}

@media (min-width: 768px) {
  /* Add additional styles for medium screens if necessary */
}

@media (min-width: 992px) {
  /* Add additional styles for large screens if necessary */
}

@media (min-width: 1200px) {
  /* Add additional styles for extra-large screens if necessary */
}
.menu .box ul li {
  width: -webkit-fill-available;
  text-align: center;
  font-size: 14px;
}
.menu .box h6 {
  width: fit-content;
  margin: auto;
  margin-bottom: 15px;
}
.menu .box .right {
  position: absolute;
  top: 0;
  right: -28%;
}
.menu .box .left {
  position: absolute;
  top: 0;
  left: -28%;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0px; /* Add space between the table and other elements */
  min-height: 46px;
}

th,
td {
  text-align: center;
  width: fit-content;
  font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  th,
  td {
    box-sizing: border-box;
  }

  th {
    text-align: center;
  }
}
